# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Env / secrets
.env
*.env

# Conda / venv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

__pycache__/
*.pyc
*.pyo
*.pyd
.env
media/
staticfiles/
db.sqlite3before_model_fix_backup.sql
*.sql
